article {
  border: 1px solid orange;
  border-radius: 8px; }

.region {
  border: 1px solid brown; }

.region-header {
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .region-header h1 {
    margin-bottom: 0; }

.region-primary-menu {
  border: 0;
  text-align: center; }
  .region-primary-menu ul {
    display: flex;
    justify-content: center; }
    .region-primary-menu ul li {
      padding: 1em; }

.region-content {
  margin: 2em auto;
  max-width: 1040px; }
  .region-content article.node--view-mode-full .field--type-image {
    display: flex;
    justify-content: center; }
  .region-content .field--type-image img {
    max-width: 100%;
    height: auto; }

.region-header {
  border-bottom: 5px solid orange; }
