main {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 768px) {
  /* cellphones */
  main {
    flex-direction: column-reverse; } }

pre {
  background: #eee;
  padding: 1em; }

/* B */
/* BibliographyWebsite */
.view-bibliography-websites .view-content,
.view-dashboard-websites .view-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .view-bibliography-websites .view-content .views-row,
  .view-dashboard-websites .view-content .views-row {
    max-width: 300px; }

.Card.BibliographyWebsite {
  text-align: center;
  padding: 2px;
  width: 225px; }

/* IssuesNavigator */
.block-inline-blockissues-navigator {
  margin: 10px 0; }
  .block-inline-blockissues-navigator .current-issue {
    text-align: right; }
  .block-inline-blockissues-navigator nav.menu--issues {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .block-inline-blockissues-navigator nav.menu--issues h2:after {
      content: ":"; }
  .block-inline-blockissues-navigator h2 {
    font-size: 1em;
    margin: 0; }
  .block-inline-blockissues-navigator ul.menu {
    display: flex;
    margin: 0; }
    .block-inline-blockissues-navigator ul.menu li {
      padding: 0 10px;
      border-right: 2px solid orange; }

/* C */
.Card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px; }

/* F */
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* M */
.maxwidth {
  width: 1000px; }

/* N */
.node__links {
  clear: both; }

section.field--type-comment {
  border: 2px dashed green;
  border-radius: 8px;
  padding: 10px; }

.view-content {
  border-radius: 8px;
  margin: 0 auto; }
  .view-content .views-row {
    padding: 10px;
    clear: both; }
    .view-content .views-row .field--type-image {
      padding: 0 10px 10px 0; }
  .view-content .views-row:last-child {
    border: 0; }

.footer-3 {
  padding: 1em 0; }
