
header {
  background: #cecece;
}

article {
  background: #fbfbfb;
}


main {
  display: flex;
  justify-content: center; }

@media screen and (max-width: 768px) {
  /* cellphones */
  main {
    flex-direction: column-reverse; } }

pre {
  background: #eee;
  padding: 1em; }

  margin: 2em auto;

  max-width: 1000px;
}
.region-content article.node--view-mode-full .field--type-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .view-bibliography-websites .view-content .views-row {
    max-width: 300px; }

.Card.BibliographyWebsite {
  text-align: center;
  padding: 2px;
  width: 225px; }

.block-inline-blockissues-navigator {
  margin: 10px 0; }
  .block-inline-blockissues-navigator .current-issue {
    text-align: right; }
  .block-inline-blockissues-navigator nav.menu--issues {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .block-inline-blockissues-navigator nav.menu--issues h2:after {
      content: ":"; }
  .block-inline-blockissues-navigator h2 {
    font-size: 1em;
    margin: 0; }
  .block-inline-blockissues-navigator ul.menu {
    display: flex;
    margin: 0; }
    .block-inline-blockissues-navigator ul.menu li {
      padding: 0 10px;
      border-right: 2px solid orange; }

/* C */
.Card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px; }

/* M */
/* N */
.node__links {
  clear: both; }

/* R */
section.field--type-comment {
  border: 2px dashed green;
  border-radius: 8px;
  padding: 10px; }

.view-content {
  border-radius: 8px;
  margin: 0 auto;

}
.view-content .views-row {
  border-bottom: 1px solid red;
  padding: 10px;
  clear: both;
}
.view-content .views-row:last-child {
  border: 0;
}
.view-content .views-row .field--type-image {
  /* float: left; */
  padding: 0 10px 10px 0;
}
.node__links {
  clear: both;
}


.view-cities .view-content {
  display: flex;
}
article.node--view-mode-teaser {
  border: 1px solid green;
}
.region-footer {
  display: flex;
  justify-content: center;
}

.view-_023q3-scrum-view .view-content {
  display: flex;
  flex-wrap: wrap;
}
.view-bibliography-websites .view-content {
  display: flex;
  flex-wrap: wrap;
}
.view-bibliography-websites .view-content .views-row {
  max-width: 300px;
}
nav.menu--issues {
  border: 1px solid green;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 0;
}
nav.menu--issues h2 {
  margin: 0;
}
nav.menu--issues ul.menu {
  display: flex;
  margin: 0;
}
nav.menu--issues ul.menu li {
  padding-left: 10px;
}
