
main {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) { /* cellphones */
  main {
    flex-direction: column-reverse;
  }
}

pre {
  background: #eee;
  padding: 1em;
}

/* B */

.view-bibliography-websites,
.view-dashboard-websites {
  .view-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .views-row {
      max-width: 300px;
    }
  }
}
.Card.BibliographyWebsite {
  text-align: center;
  padding: 2px;
  width: 225px;
}

.block-inline-blockissues-navigator {
  margin: 10px 0;

  .current-issue {
    text-align: right;
  }
  nav.menu--issues {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    h2:after {
      content: ":";
    }
  }
  h2 {
    font-size: 1em;
    margin: 0;
  }
  ul.menu {
    display: flex;
    margin: 0;
    li {
      padding: 0 10px;
      border-right: 2px solid orange;
    }

  }
}

/* C */

.Card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
}
/* M */


/* N */

.node__links {
  clear: both;
}

/* R */

.region-header {
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;


  h1 {
    margin-bottom: 0;
  }
}

.region-primary-menu {
  border: 0;

  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    li {
      padding: 0 1em;
      border-right: 1px solid orange;
    }
    li:last-child {
      border-right: 0;
    }
  }
}

.region-secondary-menu {
  border-bottom: 5px solid orange;

  display: flex;
  justify-content: center;

  ul.menu {
    margin: 0;
    height: 100%;

    display: flex;
    align-items: center;

    li {
      padding: 10px;
    }
  }
}

.region-highlighted {
  background: #cecece;
}
.region-breadcrumb::before {
  content: "Breadcrumbs: ";
  float: left;
  padding-right: 10px;
}
.region-content {

  width: 1000px;

  article.node--view-mode-full .field--type-image {
    display: flex;
    justify-content: center;
  }

  .field--type-image img {
    max-width: 100%;
    height: auto;
  }

}

section.field--type-comment {
  border: 2px dashed green;
  border-radius: 8px;

  padding: 10px;
}
.view-content {

  border-radius: 8px;

  margin: 0 auto;

  .views-row {
    padding: 10px;
    clear: both;
    .field--type-image {
      padding: 0 10px 10px 0;
    }
  }
  .views-row:last-child {
    border: 0;
  }
}

.region-footer {
  border-top: 5px solid orange;
  border-bottom: 2px solid orange;

  display: flex;
  justify-content: center;

  > .block {
    padding: 0 10px;
    border-right: 1px solid orange;
  }
}
.footer-3 {
  padding: 1em 0;

}
