
@import "./block--header.scss";
@import "./Card.scss";
@import "./comments.scss";
@import "./fonts.scss";
@import "./vud-widget.scss";

article {
  img {
    max-width: 100%;
    height: auto;
  }
  footer {
    max-width: 1000px;
    // margin: auto;
    margin: 1em auto;
  }
}

html {
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

pre {
  background: #eee;
  padding: 1em;
}

/* B */

// 2023-12-07 :: be ablet to valign 2col img+text
.block-inline-blockbasic {
  height: 100%;
}

/* BibliographyWebsite */

.view-bibliography-websites,
.view-dashboard-websites {
  .view-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .views-row {
      max-width: 300px;
    }
  }
}

.BibliographyWebsite {
  text-align: center;
  padding: 2px;
  // width: 225px;
  margin-bottom: 10px;
}

/* C */



.center, /* @deprecated, do not use! */
.text-center {
  text-align: center;
}

.Chip {
  --wco-chip-bg-color: #9ef;

  display: inline-block;
  border-radius: 1em 0 0 1em;
  margin-right: 32px;
  padding: 0.2em 0.2em 0.2em 0.6em;
  height: 32px;
  background: var(--wco-chip-bg-color);
  position: relative;
}
.Chip::before {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  top: 0;
  width: 16px;
  height: 32px;
  border-top: 17px solid var(--wco-chip-bg-color);
  border-right: 12px solid transparent;
}
.Chip::after {
  content: "";
  display: block;
  position: absolute;
  right: -16px;
  bottom: 0;
  width: 16px;
  height: 32px;
  border-bottom: 17px solid var(--wco-chip-bg-color);
  border-right: 12px solid transparent;
}



/*
 * Contributed Post
**/
article.node--type-contributed-post.node--view-mode-full {
  max-width: 1000px;
  margin: auto;

}
article.node--type-article.node--view-mode-teaser,
article.node--type-contributed-post.node--view-mode-teaser,
._ {
  footer {
    margin: 0;
    display: inline-block;
  }
  .node__content {
    display: inline-block;
  }
}
@media screen and (max-width: 992px) { /* small desktop */
  article.node--type-article.node--view-mode-teaser,
  article.node--type-contributed-post.node--view-mode-teaser,
  ._ {
    .lvl-1 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}



/* F */


.flex-col,
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* forms */
/*
input.field--name-comment {
  max-width: 100%;
}

/* I */
.image-thumb {
  max-width: 200px;
}

.field--name-field-issue {
  display: inline-block;
}

.block-field-blocknodearticlefield-issue {
  display: flex;
  float: left;

  // margin: 1em 0;

  .Chip {
    --wco-chip-bg-color: #f9e;
  }
}
.node--type-article.node--view-mode-teaser {
  .node__content {
    display: flex;

    .field--name-field-image {
      flex-shrink: 0;
    }

    .field--name-field-teaser-text {
      margin: inherit;
    }

  }
}

/* L */

html[lang='en'] .block-language li[hreflang="en"],
html[lang='es'] .block-language li[hreflang="es"],
html[lang='pt-br'] .block-language li[hreflang="pt-br"],
html[lang='ru'] .block-language li[hreflang="es"],
._ {
  border-bottom: 2px solid black;
}

.region-footer {
  border-top: 5px solid orange;
  border-bottom: 2px solid orange;

  > .maxwidth {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > .block {
      border: 1px solid orange;

      padding: 0.5em;

    }
  }

  .block-language {
    display: inline-block;

    ul.links {
      list-style: none;
      padding: 0;

      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      flex-direction: column;


      li {
        display: flex;
        align-items: center;
        padding-right: .8em;


        &:last-child {
          padding-right: 0;
        }

        a {
          padding-left: 0.2em;

        }
      }

      li {
        &:before {
          content: "";
          display: inline-block;
          width: 40px;
          height: 27px;
        }
      }

      li[hreflang="en"] {
        &:before {
          background: url('//d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/09/26212539/40x26-usa-tiny.png');
        }
      }

      li[hreflang="es"] {
        &:before {
          background: url('//d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/09/26211148/40x26-colombia-tiny-1.png');
        }
      }

      li[hreflang="pt-br"] {
        &:before {
          background: url('//d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/11/01111621/40x26-brasil-tiny.png');
        }
      }

      li[hreflang="ru"] {
        &:before {
          background: url('//d15g8hc4183yn4.cloudfront.net/wp-content/uploads/2023/11/29103220/40x26-russia-tiny.png');
        }
      }
    }
  }
}
@media screen and (max-width: 768px) { /* cellphones */
  .region-footer {

    > .block {
      border-right: 0;
      ul {
        border-left: 2px solid orange;
        padding-left: 10px;
      }
    }

    > .maxwidth {
      justify-content: flex-end;
    }
  }
}

/* M */

article.media--type-remote-video.media--view-mode-full {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 2em 0;
}


/* N */


.view-content {

  // border-radius: 8px;

  // margin: 0 auto;

  .views-row {
    padding: 10px;
    clear: both;

    .field--type-image {
      padding: 0 10px 10px 0;
    }
  }
  .views-row:last-child {
    border: 0;
  }
}

/* P */
h1.page-title {
  margin: 1em 0 0 0;
  text-align: center;
}

.Profile {
  text-align: center;
}

/* S */

.search-form,
.node_search-results {
  // border: 2px solid blue;

  max-width: 1000px;
  margin: auto;
}
.search-form + h2 {
  text-align: center;
}


/* T */

.Tags {
  display: flex;
  margin-bottom: 10px;

  .field__label {
    padding-right: 1em;
  }

  .field__items {
    display: flex;
  }
}

.view-terms-conditions {
  border-left: 1px solid orange;
  padding-left: 1em;

  display: flex;
  align-items: center;

  .view-content.row {
    margin: 0;
    margin-left: 1em;
    border-left: 1px solid orange;
    padding: 0.5em 0 0.5em 1em;
  }
}

.text-formatted {
  /* 2023-11-17 _vp_ for mobile, to not touch the edge. for "at wco we understand the challenged... */
  max-width: 90vw;
  margin: auto;


}

/* U */

.user-login-form,
.user-pass,
.user-register-form,
._ {
  max-width: 1000px;
  margin: auto;
}


/* V */
.valign-center {
  vertical-align: middle;
  align-items: center;
}
.valign-top {
  vertical-align: top;
  align-items: flex-start;
}

/* Y */
.YoutubeVideoPlayers {
  // border: 2px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.region-filters {
  display: flex;
}
@media screen and (max-width: 768px) { /* cellphones */
  .region-filters {
    flex-direction: column;
  }
}



/* H */

/* header?! */

.region-headerW {
  padding: 1em 0 0.5em 0;
}

.region-header {
  // border: 0;
  // border-bottom: 2px solid orange;

  display: flex;
  justify-content: space-between;
  align-items: center;


  h1 {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1000px) { /* cellphones */
  .region-header {
    width: 1000px;
  }
}
@media screen and (min-width: 768px) { /* cellphones */
  .region-header {
    width: 100%;
  }
}
@media screen and (max-width: 768px) { /* cellphones */
  .region-header {
    flex-direction: column;
  }
}


.region-highlighted {
  background: #cecece;
}

/* P */

.region-postfooter {
  display: flex;

  nav.menu--terms-conditions ul.menu {
    border-left: 2px solid orange;
    padding-left: 1em;

    height: 100%;

    display: flex;
    align-items: center;

    li {
      border-right: 2px solid orange;
      padding-right: 1em;
      margin-right: 1em;
    }
  }
}

.region-primary-menu {
  border: 0;

  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;

    li {
      padding: 0 1em;
      border-left: 1px solid orange;
    }
    li:first-child {
      border-left: 0;
    }
  }
}


.region-secondary-menu {
  border-bottom: 5px solid orange;

  display: flex;
  justify-content: center;

  ul.menu {
    margin: 0;
    height: 100%;

    display: flex;
    align-items: center;

    li {
      padding: 0 1em;
      border-left: 1px solid orange;
    }
    li:first-child {
      border-left: 0;
    }
  }
}
@media screen and (max-width: 768px) { /* cellphone */
  .region-secondary-menu {
    flex-wrap: wrap;

    form {
      display: flex;

      .form-item {
        margin: 0;
      }
    }

    .menu--account {
      margin: .5em 0;
    }
  }
}

/* W */

/* webform */
.block-webform-block {
  input {
    max-width: 100%;
  }
  .form-item {
    max-width: 95vw;
    margin: auto;
  }
}

/* widths */

.fullwidth {
  width: 1000px;
  margin: auto;
}
.maxwidth {
  max-width: 1000px;
  margin: auto;
}
@media screen and (max-width: 1024px) { /* tablet */
  .fullwidth {
    width: 768px;
  }
  .maxwidth {
    max-width: 768px;
  }
}
@media screen and (max-width: 768px) { /* cellphone */
  .fullwidth {
    width: auto;
  }
  .maxwidth {
    width: auto;
  }
}
