
// @media screen and (max-width: 768px) { /* cellphones */
//   main {
//     flex-direction: column-reverse;
//   }
// }


main {
  display: flex;
  justify-content: center;
  width: 100%;
}

pre {
  background: #eee;
  padding: 1em;
}

/* B */

/* BibliographyWebsite */

.view-bibliography-websites,
.view-dashboard-websites {
  .view-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .views-row {
      max-width: 300px;
    }
  }
}
.Card.BibliographyWebsite {
  text-align: center;
  padding: 2px;
  width: 225px;
  margin-bottom: 10px;
}

/* C */

.Card {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;

  height: 100%;
  margin-bottom: 10px;
}

.center, /* @deprecated, do not use! */
.text-center {
  text-align: center;
}

/* F */


.flex-col,
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* M */

.maxwidth {
  width: 1000px;
  margin: auto;
}
@media screen and (max-width: 1024px) { /* desktop ??? */
  .maxwidth {
    width: 768px;
  }
}
@media screen and (max-width: 768px) { /* cellphones */
  .maxwidth {
    width: auto;
  }
}

/* N */





section.field--type-comment {
  border: 2px dashed green;
  border-radius: 8px;

  padding: 10px;
}
.view-content {

  // border-radius: 8px;

  // margin: 0 auto;

  .views-row {
    padding: 10px;
    clear: both;

    .field--type-image {
      padding: 0 10px 10px 0;
    }
  }
  .views-row:last-child {
    border: 0;
  }
}

/* P */
h1.page-title {
  margin: 1em 0;
  text-align: center;
}

/* S */

/* T */

.view-terms-conditions {
  border-left: 1px solid orange;
  padding-left: 1em;

  display: flex;
  align-items: center;

  .view-content.row {
    margin: 0;
    margin-left: 1em;
    border-left: 1px solid orange;
    padding: 0.5em 0 0.5em 1em;
  }
}

/* V */
.valign-center {
  vertical-align: middle;
  align-items: center;
}
.valign-top {
  vertical-align: top;
  align-items: flex-start;
}

/* Y */
.YoutubeVideoPlayers {
  // border: 2px solid red;

  display: flex;
  flex-direction: column;
  align-items: center;
}
