
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if label %}
    <h2{{ title_attributes }} class='collapse-expand' id="ri2" >{{ label }}</h2>
  {% endif %}
  {% block content %}
    {{ content }}
  {% endblock %}
</div>
